<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hemanth.invokebuiltinapps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShowAlertActivity">
            <intent-filter>
                <action android:name="com.hemanth.invokebuiltinapps.ShowAlertActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ShowMessageActivity">
            <intent-filter>
                <action android:name="com.hemanth.invokebuiltinapps.ShowMessageActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".GreetMessageActivity">
            <intent-filter>
                <action android:name="com.hemanth.invokebuiltinapps.GreetMessageActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActionBarActivity">
            <intent-filter>
                <action android:name="com.hemanth.invokebuiltinapps.ActionBarActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Container">
            <intent-filter>
                <action android:name="com.hemanth.invokebuiltinapps.Container" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>